@import 'tailwindcss';
@plugin "daisyui";

:root {
  --background: #f3f6f7;
  --foreground: #070808;
  --primary: #4d8899;
  --secondary: #245865;
  --accent: #237e95;
  --primary-light: #345a74;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-primary-light: var(--primary-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base-100: #11171a;
    --background: #080b0c;
    --foreground: #f7f8f8;
    --primary: #2b5069;
    --secondary: #1c2229;
    --accent: #232931;
    --primary-light: #345a74;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
